
/* Contenedor principal centrado en la pantalla */
.forgot-password-container {
    display: fixed;
    justify-content: center;
    align-items: center;
    height: 84vh;
    width: 221.5vh;
    background-image: url('/assets/BackgroundCiber.png');
    background-size: cover;
    background-position: center;
    margin-top: 130px;
    margin-left: 0px;
    
}

/* Caja del formulario */
.forgot-password-form {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-left: 35rem;
    margin-top: 55px;
    height: 25rem;
    margin-right: 100px;
    position: absolute;
}

/* Estilos del título */
.forgot-password-form h2 {
    margin-bottom: 50px;
    color: #1e40af;
    font-size: 35px;
    font-weight: bold;
    margin-top: -20px;
}

/* Estilos del campo de entrada */
.forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f2f2f2;
    color: #000;
    font-size: 16px;
    margin-left: -10px;
}

/* Botón de envío */
.forgot-password-form button {
    width: 70%;
    padding: 10px;
    background: #1e40af;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.forgot-password-form button:hover {
    background: #1a3a8c;
}
.forgot-password-form{
    color: black;
}
.emojis {
    font-size: 20px;
    margin-top: -15px;
}
.forgot-password-form img {
    height: 50px;
    margin-top: 10px;
}
@media (max-width: 1440px) {
    .forgot-password-container{
        width: 90rem;
    }
    .forgot-password-form{
        margin-left: 32rem;
    }
}
@media (max-width: 1024px) {
    .forgot-password-container {
        width: 64rem;
    }

    .forgot-password-form {
        margin-left: 20rem;
        height: 20rem;
    }
    .emojis{
        display: none;
    }
        .forgot-password-form img {
            height: 50px;
            margin-top: 0px;
        }
    .forgot-password-form h2{
        margin-bottom: 30px;
    }
    .forgot-password-form input{
        margin-top: -30px;
    }
}
@media (max-width: 768px) {
    .forgot-password-container {
        width: 48rem;
    }

    .forgot-password-form {
        margin-left: 10rem;
        height: 20rem;
    }

}
@media (max-width: 426px) {
    .forgot-password-container {
        width: 26.6rem;
    }

    .forgot-password-form {
        margin-left: 45px;
        height: 19rem;
        width: 16rem;
    }

    .forgot-password-container p {
        display: none;
    }

    .forgot-password-form button {
        font-size: 13px;
        margin-top: 20px;
        width: 250px;
        margin-left: 10px;
    }
}
@media (max-width: 376px) {
    .forgot-password-container {
        width: 23.4rem;
    }

    .forgot-password-form {
        margin-left: 20px;
        height: 19rem;
        width: 16rem;
    }

    .forgot-password-container p {
        display: none;
    }

    .forgot-password-form button {
        font-size: 13px;
        margin-top: 30px;
        width: 250px;
        margin-left: 10px;
    }
}
@media (max-width: 320px) {
    .forgot-password-container {
        width:20rem;
    }

    .forgot-password-form {
        margin-left: 12px;
        height: 19rem;
        width: 13.5rem;
    }

    .forgot-password-container p {
        display: none;
    }

    .forgot-password-form button {
        font-size: 13px;
        margin-top: 20px;
        width: 200px;
        margin-left: 10px;
    }
    .forgot-password-form input {
        margin-left: -12px;
    }

    .forgot-password-form img {
        height: 50px;
        margin-top: 30px;
        margin-left: -32px;
    }
}