/* Contenedor principal */
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/BackgroundCiber.png');
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    width: 96rem;
    margin-top: 100px;
}

/* Caja de formulario */
.reset-password-box {
    background: white;
    padding: 40px;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: -50px;
    margin-left: 40px;
}

/* Título */
.reset-password-box h2 {
    color: #1e40af;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: -10px;
}

/* Input */
.reset-password-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f0f0f0;
    color: black;
    margin-left: -10px;
}

/* Botón */
.reset-password-box button {
    width: 40%;
    padding: 10px;
    background: #1e40af;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.reset-password-box button:hover {
    background: #1a3a8c;
}

/* Mensaje de error o éxito */
.message {
    margin-top: -10px;
    font-size: 14px;
    color: green;
}

.error {
    color: red;
}
.reset-password-box img{
    height: 45px;
    margin-top: 90px;
    margin-left: -205px;
    position: absolute;
}
@media (max-width: 1440px) {
    .reset-password-container {
        width: 90rem;
    }

}
@media (max-width: 1024px) {
    .reset-password-container {
        width: 64rem;
    }

}
@media (max-width: 768px) {
    .reset-password-container {
        width: 48rem;
    }

}
@media (max-width: 427px) {
    .reset-password-container {
        width: 26.6rem;
    }
    .reset-password-box {
        margin-left: 0px;
        width: 18rem;
        height: 21rem;
    }
    .reset-password-box h2{
        margin-top: -30px;
    }

}
@media (max-width: 376px) {
    .reset-password-container {
        width: 23.4rem;
    }

    .reset-password-box {
        margin-left: 0px;
        width: 16rem;
        height: 21rem;
    }
    .reset-password-box input {
        width: 250px;
        margin-left: -10px;
    }

    .reset-password-box h2 {
        margin-top: -30px;
    }

}
@media (max-width: 320px) {
    .reset-password-container {
        width: 20rem;
    }

    .reset-password-box {
        margin-left: 0px;
        width: 14rem;
        height: 21rem;
    }

    .reset-password-box input {
        width: 250px;
        margin-left: -25px;
    }

    .reset-password-box h2 {
        margin-top: -30px;
    }
    .reset-password-box button {
        margin-left: -20px;
        width: 100px;
    }
}
